<a href="https://colab.research.google.com/github/SachinGoyal94/Python/blob/main/1_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
Welcome to a fantastic journey of learning Python
'''

In [20]:
a=10;b=20
print(a)
print(b)
print(a==b,type(a==b))

10
20
False <class 'bool'>

In [4]:
a=1+2+3+\
4+5
print(a)

15

In [17]:
age=int(input("Enter your age"))
if(age>18):
  print("major",age)
else:
  print("minor",age)
print(type(age))

Enter your age25
major 25
<class 'int'>

In [7]:
type(age)

int

In [21]:
###   TypeConversions  age=datatype(value)
age =25
strings=str(age)
print(strings)
value="Sachin"
name=str(value)
print(name)
print("concatenating string",value+str(age))

25
Sachin
Sachin25

In [22]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Enter first number: 10
Enter second number: 20
Addition: 30.0
Subtraction: -10.0
Multiplication: 200.0
Division: 0.5
Floor Division: 0.0
Modulus: 10.0
Exponentiation: 1e+20

In [25]:
X=1
Y=0
print( X or Y )
print( X and Y)
print( not X)
print( X!=Y,X>Y,X<Y,X>=Y,X<=Y)

1
0
False
True True False True False