<a href="https://colab.research.google.com/github/SachinGoyal94/Python/blob/main/2_DataStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
lists indexed with 0
ordered mutable
'''

In [42]:
lists=[1,2,"Sachin","Goyal",3.14]
print(lists,type(lists))

[1, 2, 'Sachin', 'Goyal', 3.14] <class 'list'>

In [44]:
for i in range(len(lists)):
  print(lists[i])

1
2
Sachin
Goyal
3.14

In [49]:
print(lists[1:])
print(lists[:4:2])

[2, 'Sachin', 'Goyal', 3.14]
[1, 'Sachin']

In [50]:
print(lists)
lists[1]="banana"
print(lists)

[1, 2, 'Sachin', 'Goyal', 3.14]
[1, 'banana', 'Sachin', 'Goyal', 3.14]

In [51]:
lists[1:]="watermelon"
print(lists)

[1, 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [60]:
lists=[1,2,"Sachin","Goyal",3.14]

lists.append("Name")
print(lists)

lists.insert(1,3.14)
print(lists)

print(lists.pop())
print(lists)

print(lists.count(3.14))

lists.remove(3.14)   #removes first occurence of 3.14
print(lists)

[1, 2, 'Sachin', 'Goyal', 3.14, 'Name']
[1, 3.14, 2, 'Sachin', 'Goyal', 3.14, 'Name']
Name
[1, 3.14, 2, 'Sachin', 'Goyal', 3.14]
2
[1, 2, 'Sachin', 'Goyal', 3.14]

In [61]:
print(lists.index(3.14))

4

In [76]:
lists=[1,1000,23,34,12,123]

lists.sort()
print(lists)

lists.reverse()
print(lists)

print(lists[::2 ])

print(lists[::-2])

lists.clear()
print(lists)

[1, 12, 23, 34, 123, 1000]
[1000, 123, 34, 23, 12, 1]
[1000, 34, 12]
[1, 23, 123]
[]